/*Selector {
	Property: value;
}*/

body {
	background-image: url(https://cdn.discordapp.com/attachments/763204465872207893/773673510111412294/background.jpeg);
	background-size: cover;
	text-align: center;
}


a {
	font-size: x-large;
	color: red;
}

form {
	font-size: x-large;
	font: bold;
	color: rgb(101, 0, 0, 0.90);
}

.submit1:hover {
	border: 3px solid red;
}

.reset1:hover {
	border: 3px solid red;
}

.Goback:hover {
	color: red;
	border: 3px solid black;
}